<!DOCTYPE HTML>
<html ng-app="grooveboat">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>grooveboat</title>
        <link href='//fonts.googleapis.com/css?family=Amatic+SC|Pompiere|Monoton' rel='stylesheet' type='text/css'>
        <link rel="icon" type="image/png" href="static/img/favicon.png" />
        <link rel="stylesheet/less" type="text/css" href="static/style.less">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-sanitize.min.js"></script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
        <script src="static/lib/wildemitter.js"></script>
        <script src="static/lib/rtcpeerconnection.bundle.js"></script>
        <script src="static/lib/localStorageModule.js"></script>
        <script src="static/lib/emoji/emoji-images.js"></script>
        <script src="static/lib/id3v2.js"></script>
        <script src="static/lib/audio-metadata.min.js"></script>
        <script src="static/lib/md5.js"></script>
        <script src="static/lib/less.js"></script>

        <script src="static/database.js"></script>
        <script src="static/user.js"></script>
        <script src="static/buoy.js"></script>
        <script src="static/groove.js"></script>

        <script src="static/controllers/MainCtrl.js"></script>
        <script src="static/controllers/RoomListCtrl.js"></script>
        <script src="static/controllers/RoomCtrl.js"></script>
        <script src="static/application.js"></script>
    </head>
    <body ng-controller="MainCtrl">
        <div class="screen" ng-show="currentOverlay" ng-click="setOverlay(false)">&nbsp;</div>
        <div class="prompt overlay" ng-show="currentOverlay">

            <div class="settings" ng-show="currentOverlay == 'settings'">
                <h1>Settings</h1>
                <p>Change your nickname:</p>
                <input type="text" class="full" name="gravatar" ng-model="tempUsername" />
                <p>Grooveboat uses <a target="_blank" href="//gravatar.com">Gravatar</a> to provide users with avatars. If you have a Gravatar account, enter your email address here:</p>
                <input type="text" class="full" name="gravatar" placeholder="Gravatar email address" ng-model="tempGravatarEmail" />

                <p>Due to browser restrictions, we aren't able to save your playlists using files stored on your local filesystem.</p> 
                <p>To get around this, we can copy your music files into a special storage system in your browser, however this will require you to have two copies of the file. In return, you'll be able to save your playlists and have them persist between sessions.</p>
                <div class="persist-bar">
                    <div class="checkbox" ng-class="{checked: persistPlaylists}" ng-click="togglePersistTracks()"></div> 
                    Persist music
                </div>
                <input type="button" value="save it" class="action" ng-click="saveSettings();" />
            </div>

            <div class="no-tracks" ng-show="currentOverlay == 'no-tracks'">
                <h1>Empty queue</h1>
                <p>Add some tracks to your DJ queue before taking to the stage!</p>
                <input type="button" value="righto" class="action" ng-click="setOverlay(false)" />
            </div>

            <div class="disconnected" ng-show="currentOverlay == 'disconnected'">
                <h1>Disconnected</h1>
                <img class="spinning" src="static/img/favicon.png" />
                <p>Looks like we've lost track of the buoy. Attempting to reconnect...</p>
            </div>
        </div>

        <div class="container top">
            <a href="#" class="title">grooveboat</a>
            <a class="right-btn settings" ng-click="setOverlay('settings')"><i class="icon-gear"></i></a>
            <a class="right-btn volume" ng-click="toggleMute()">
                <i ng-show="!muted" class="icon-volume"></i>
                <i ng-show="muted" class="icon-volume-off"></i>
            </a>
        </div>
        <div class="content" ng-view></div>
    </body>
</html>
