body {
  font-family: Helvetica-Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;
  background-color: #ffffff;
  color: #42433f;
  margin: 0px;
  padding: 0px;
}
input[type=button] {
  font-family: Helvetica-Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  background: #e23c03;
  border: 0px;
  color: #ffffff;
  padding: 5px 10px 5px 10px;
  margin: 5px 0px 5px 0px;
  cursor: pointer;
}
input[type=button]:disabled {
  background: #ededed;
  color: #42433f;
}
input[type=text] {
  display: block;
  font-family: Helvetica-Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #42433f;
  border: 1px solid #ededed;
  padding: 5px;
  outline: none;
}
input[type=text].full {
  display: block;
  box-sizing: border-box;
  width: 100%;
}
input[type=text].no_border {
  border: 0px;
}
.top {
  padding: 5px 10px 5px 10px;
  text-align: center;
}
.top .title {
  font-family: 'Amatic SC', cursive;
  font-size: 52px;
}
.top .room-list {
  margin: 0px auto 0px auto;
}
.prompt {
  position: fixed;
  top: 100px;
  left: 50%;
  width: 400px;
  padding: 10px;
  margin-left: -210px;
  background: #ededed;
  color: #e23c03;
}
.prompt h1 {
  margin: 0px 0px 7px 0px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
.prompt .rooms {
  height: 250px;
  background-color: #ffffff;
  overflow-y: auto;
  margin-bottom: 10px;
}
.prompt .rooms .room {
  font-size: 18px;
  padding: 15px;
  cursor: pointer;
  border-bottom: 1px solid #ededed;
}
.prompt .rooms .room:nth-last-child(1) {
  border-bottom: 0px;
}
.prompt .rooms .room-true {
  background-color: #e23c03;
  color: #ffffff;
}
.stage {
  text-align: center;
  border-bottom: 1px solid #ededed;
  padding-bottom: 10px;
}
.stage .dj {
  display: inline-block;
  padding: 15px;
}
.stage .dj.dj-true {
  background: #e23c03;
  color: #ffffff;
}
.stage .now-playing-artist {
  margin: 20px 0px 5px 0px;
  font-size: 36px;
  font-weight: 400;
  color: #e23c03;
}
.audience .listener {
  display: inline-block;
  padding: 10px;
}
.chat {
  float: right;
  position: relative;
  width: 250px;
  border-left: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  height: 400px;
}
.chat .messages {
  height: 370px;
  overflow-y: auto;
  overflow-x: hidden;
}
.chat .message {
  padding: 10px;
}
.chat .message .author {
  display: inline-block;
  font-weight: 400;
}
.chat .message .author:after {
  content: ":";
}
.chat .message .text {
  display: inline-block;
}
.chat .new_message {
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  outline: 0px;
  height: 20px;
}
