body {
  font-family: Helvetica-Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;
  background-color: #ffffff;
  color: #42433f;
  margin: 0px;
  padding: 0px;
}
button,
input[type=button] {
  display: inline-block;
  font-family: Helvetica-Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  background: #ffffff;
  border: 0px;
  color: #e23c03;
  padding: 1px 10px 5px 10px;
  cursor: pointer;
}
button:hover,
input[type=button]:hover {
  background: #e23c03;
  color: #ffffff;
}
input[type=button]:disabled {
  background: #ededed;
  color: #42433f;
}
input[type=text] {
  display: block;
  font-family: Helvetica-Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #42433f;
  border: 1px solid #ededed;
  padding: 5px;
  outline: none;
}
input[type=text].full {
  display: block;
  box-sizing: border-box;
  width: 100%;
}
input[type=text].no_border {
  border: 0px;
}
.top {
  background: #42433f;
  color: #ffffff;
}
.top .title {
  font-family: 'Amatic SC', cursive;
  font-size: 32px;
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  padding: 5px 20px 5px 20px;
}
.top .username {
  float: right;
  line-height: 51px;
  padding: 0px 20px 0px 20px;
}
.top .username:hover {
  background: #e23c03;
  color: #ffffff;
  cursor: hover;
}
.prompt {
  position: fixed;
  top: 100px;
  left: 50%;
  width: 400px;
  padding: 10px;
  margin-left: -210px;
  background: #ededed;
  color: #e23c03;
}
.prompt h1 {
  margin: 0px 0px 7px 0px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
.prompt .rooms {
  height: 250px;
  background-color: #ffffff;
  overflow-y: auto;
  margin-bottom: 10px;
}
.prompt .rooms .room {
  font-size: 18px;
  padding: 15px;
  cursor: pointer;
  border-bottom: 1px solid #ededed;
}
.prompt .rooms .room:nth-last-child(1) {
  border-bottom: 0px;
}
.prompt .rooms .room-true {
  background-color: #e23c03;
  color: #ffffff;
}
.now-playing {
  text-align: center;
  border-bottom: 1px solid #ededed;
  padding-bottom: 10px;
  margin: 0px;
}
.now-playing .now-playing-artist {
  font-family: 'Monoton', cursive;
  text-transform: lowercase;
  font-size: 48px;
  font-weight: 400;
  color: #e23c03;
}
.now-playing .now-playing-track {
  font-family: 'Pompiere', cursive;
  font-size: 24px;
}
.stage {
  border-bottom: 1px solid #ededed;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.stage .dj,
.stage .become-dj {
  display: inline-block;
  padding: 5px 20px 5px 20px !important;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
.stage .dj.dj-true,
.stage .become-dj.dj-true {
  background: #e23c03;
  color: #ffffff;
  -webkit-animation: anim-dj-active 2s infinite linear;
}
.stage .dj.local-true,
.stage .become-dj.local-true {
  color: #a3b6c5;
  font-weight: 500;
}
.stage .become-dj {
  color: #e23c03;
}
.stage .become-dj:hover {
  background: #e23c03;
  color: #ffffff;
}
.audience {
  float: left;
}
.audience .listener {
  display: inline-block;
  text-align: center;
  padding: 10px;
}
.audience .listener img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px #ededed solid;
}
.audience .listener.local-true {
  color: #a3b6c5;
  font-weight: 500;
}
.chat {
  float: right;
  position: relative;
  width: 275px;
  border-left: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  height: 500px;
}
.chat .no_messages {
  text-align: center;
  padding: 15px;
}
.chat .messages {
  height: 370px;
  overflow-y: auto;
  overflow-x: hidden;
}
.chat .message {
  padding: 10px;
}
.chat .message .author {
  display: inline-block;
  font-weight: 400;
}
.chat .message .author:after {
  content: ":";
}
.chat .message .text {
  display: inline-block;
}
.chat .new_message {
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  bottom: 0px;
  outline: 0px;
  height: 30px;
}
/*
* Animations
*/
@-webkit-keyframes anim-dj-active {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .85;
  }
  100% {
    opacity: 1;
  }
}
