@white: #FFF;
@gray: #EDEDED;
@dark: #42433F;
@red:#E23C03;
@green: #B8DC3C;
@blue: #00B4FF;
@default-font: Helvetica-Neue, Helvetica, Arial, sans-serif;

body {
    font-family: @default-font;
    font-weight: 300;
    background-color: @white;
    color: @dark;
    margin: 0px;
    padding: 0px;
    min-width: 500px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow-x: hidden;
}

//
// Icons stuff
//
@font-face {
    font-family: "fontello";
    src: url("fontello.ttf");
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
}

.icon-thumbs-up:before   { content: "\e800"; }
.icon-thumbs-down:before { content: "\e801"; }
.icon-gear:before        { content: "\e802"; }
.icon-volume-off:before  { content: '\e803'; } 
.icon-volume-down:before { content: '\e804'; } 
.icon-volume:before      { content: '\e805'; } 
.icon-volume-up:before   { content: '\e806'; } 

//
// Generic UI stuff
//
button,
input[type=button] {
    display: inline-block;
    font-family: @default-font;
    font-size: 16px;
    font-weight: 300;
    background: @white;
    border: 0px;
    color: @red;
    padding: 1px 10px 5px 10px;
    cursor: pointer;
}

.checkbox {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: @white;
    border: 1px solid @gray;
    vertical-align: middle;
    margin-right: 5px;
    font-family: Helvetica;
    text-align: center;
    color: @red;
    cursor: pointer;

    &.checked:after {
        content: "\2713";
    }
}

button:hover,
input[type=button]:hover {
    background: @red;
    color: @white;
}

input[type=button]:disabled {
    background: @gray;
    color: @dark;
}

input[type=text], textarea {
    display: block;
    font-family: @default-font;
    font-size: 16px;
    color: @dark;
    border: 1px solid @gray;
    padding: 5px;
    outline: none;

    &.full {
        display: block;
        box-sizing: border-box;
        width: 100%;
    }

    &.no_border {
        border: 0px;
    }
}

a {
    color: @red;
    text-decoration: none;
    font-weight: 400;

    &:hover {
        color: @dark;
    }
}

.top {
    background: @dark;
    color: @white;

    .title {
        font-family: 'Amatic SC', cursive;
        font-size: 24px;
        display: inline-block;
        color: @white;
        text-decoration: none;
        padding: 5px 20px 5px 20px;
    }

    .right-btn {
        display: block;
        float: right;
        line-height: 40px;
        margin: 0px 15px 0px 0px;
        font-size: 18px;
        color: @white;
        transition: .15s;
        cursor: pointer;

        &:hover {
            color: @red;
        }
    }

    .username {
        font-size: 14px;
        float: right;
        color: @white;
        line-height: 40px;
        padding: 0px 20px 0px 20px;
    }

    .username:hover {
        background: @red;
        color: @white;
        cursor: hover;
    }
}

.content {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
}

.screen {
    position: fixed;
    background: #000;
    opacity: .75;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;
}

.prompt {
    position: fixed;
    top: 100px;
    left: 50%;
    width: 400px;
    padding: 10px;
    margin-left: -210px;
    background: @gray;
    color: @red;

    h1 {
        margin: 0px 0px 7px 0px;
        font-size: 24px;
        font-weight: 400;
        text-align: center;
    }

    p {
        color: @dark;
        line-height: 1.4em;
    }

    .rooms, .buoys {
        height: 250px;
        background-color: @white;
        overflow-y: auto;
        margin-bottom: 10px;

        .room, .buoy {
            font-size: 18px;
            padding: 15px;
            cursor: pointer;
            border-bottom: 1px solid @gray;
            -webkit-user-select: none;
            -moz-user-select: moz-none;
        }

        .room:nth-last-child(1), .buoy:nth-last-child(1) {
            border-bottom: 0px;
        }

        .selected {
            background-color: @red;
            color: @white;
        }
    }

    .disconnected {
        text-align: center;

        img {
            display: block;
            margin: 15px auto;
        }
    }

    .action {
        margin-top: 10px;
        padding: 10px;
        position: relative;
        right: 2px;
    }

    &.overlay {
        z-index: 3;
    }

    .persist-bar {
        padding: 0px 0px 10px 0px;
        font-size: 14px;
    }
}

.awaiting-dj {
    text-align: center;
    color: @red;
    padding: 15px;
    word-spacing: .5em;

    .title {
        font-family: 'Monoton', cursive;
        font-size: 52px;
        text-transform: lowercase;
    }

    .subtitle {
        font-family: 'Pompiere', cursive; 
        font-size: 24px;
        color: @dark;
    }
}

.now-playing {
    padding-bottom: 10px;
    margin: 0px;
    text-align: center;

    .now-playing-artist {
        font-family: 'Monoton', cursive;
        text-transform: lowercase;
        font-size: 48px;
        font-weight: 400;
        color: @red;
        white-space: nowrap;
        margin-top: 15px;
        word-spacing: .25em;
    }

    .now-playing-track {
        font-family: 'Pompiere', cursive; 
        font-size: 24px;
    }

    .vote {
        text-align: center;
        text-decoration: none;
        font-size: 32px;
        display: inline-block;
        padding: 10px 15px 10px 15px;
        margin: 5px 10px;
        border-radius: 50%;

        transition: .15s;

        &.good {
            color: @green;
        }

        &.bad {
            color: @red;
        }
    }

    .vote.good:hover, .vote.good-true {
        background: @green;
        color: @white;
    }

    .vote.bad:hover, .vote.bad-true {
        background: @red;
        color: @white;
    }

    .opinion-bar {
        margin-top: 10px;
        display: inline-block;
        width: 250px;

        .opinion {
            display: inline-block;
            height: 10px;
        }

        .yes {
            background-color: @green;
        }

        .no {
            background-color: @red;
        }
    }
}

.stage {
    position: relative;
    background: darken(@white, 5%);
    text-align: center;
    margin-right: 25%;
    padding: 0px;
    min-height: 40px;
    height: 78px;

    .no-djs {
        text-align: center;
        font-size: 18px;
        line-height: 78px;

        img {
            height: 50px;
            width: 50px;
            vertical-align: middle;
        }
    }

    .dj {
        display: inline-block;
        padding: 10px 20px;
        cursor: pointer;
        text-align: center;

        img {
            display: block;
            width: 35px;
            height: 35px;
            margin: 0px auto 5px auto;
            vertical-align: middle;
            border-radius: 5px;

            &.vote-true {
                -webkit-animation: anim-vote-true 1.5s infinite linear;
            }
        }

        &.active {
            background: @red;
            color: @white;
            -webkit-animation: anim-dj-active 2s infinite linear;
        }

        &.local {
            color: @blue;
            font-weight: 500;
        }

        &.local.active {
            color: @white
        }
    }

    .become-dj {
        display: block;
        float: right;
        color: @red;
        padding: 0px 20px 0px 20px;
        line-height: 78px;
        cursor: pointer;
        transition: .15s;

        &:hover {
            background: @red;
            color: @white;
        }
    }
}

.audience {
    float: left;

    .listener {
        display: inline-block;
        padding: 10px;
        text-align: center;
        margin: 0px 5px;

        &.local {
            color: @blue;
            font-weight: 500;

            img {
                border: 1px solid @blue;
            }
        }

        img {
            position: relative;
            width: 50px;
            height: 50px;
            border-radius: 5px;

            &.vote-true {
                -webkit-animation: anim-vote-true 1.5s infinite linear;
            }
        }

        .name {
            font-size: 14px;
        }
    }
}

.sidebar {
    box-sizing: border-box;
    float: right;
    position: relative;
    min-width: 275px;
    width: 25%;
    height: 100%;
    min-height: 350px;
    background-color: white;
    border-left: 1px solid @gray;
    border-bottom: 1px solid @gray;
    z-index: 1;

    .sidebar-btn {
        text-align: center;
        padding: 10px 0px;
        border-top: 1px solid @gray;

        &.half {
            display: inline-block;
            width: 50%;
        }

        &:hover {
            color: @white;
            background: @red;
            cursor: default;
        }
    }

    .sidebar-content {
        font-size: 16px;
        clear: both;
        position: absolute;
        top: 30px;
        bottom: 0px;
        width: 100%;

        .panel {
            position: absolute;
            top: 0px;
            bottom: 0px;
            width: 100%;
        }
    }

    .track-upload {
        display: block;
        height: 75px;
        margin: 10px;
        border: 2px dashed darken(@gray, 20%);
        text-align: center;
        line-height: 75px;
        color: darken(@gray, 20%);
        font-size: 22px;

        &.active {
            border: 2px solid darken(@gray, 20%);
        }
    }

    .tabs {
        .tab {
            float: right;
            box-sizing: content-box;
            text-align: center;
            width: 50%;
            padding: 5px 0px 5px 0px;
            border-bottom: 1px solid @gray;
            cursor: pointer;
            background-color: @gray;
        }

        .tab.active {
            background-color: @white;
            color: @red;
        }

        .tab.new-messages {
            background: @red;
            color: @white;
        }
    }

    .no_messages {
        text-align: center;
        padding: 15px;
    }

    .messages {
        position: absolute;
        top: 0px;
        bottom: 60px;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        word-break: break-word;
    }

    .message {
        padding: 5px 10px 2px 10px;

        .author {
            font-weight: 400;
            margin: 5px 0px 7px 0px;

            img {
                display: inline-block;
                margin-right: 5px;
                width: 25px;
                height: 25px;
                border-radius: 5px;
                vertical-align: middle;
            }

            &.local {
                color: @blue;
                font-weight: 500;
            }
        }

        .text {
            display: block;
            line-height: 1.2;
            font-size: 14px;
        }
    }

    .emoji {
        height: 20px;
        vertical-align: middle;
    }

    .new-message {
        border-bottom: 0px;
        border-left: 0px;
        border-right: 0px;
        box-sizing: border-box;
        width: 100%;
        position: absolute;
        bottom: 0px;
        outline: 0px;
        height: 60px;
        padding-top: 20px;
        background: darken(@white, 2%);

        text-align: center;

        &:focus {
            padding-top: 5px;
            text-align: left;
        }
    }

    .upload {
        text-align: center;
        padding: 15px 0px 15px 0px;
    }

    ul.songs {
        padding: 0;
        margin: 0;
        overflow: auto;
        width: 100%;
        border-top: 1px solid @gray;

        li {
            list-style-type: none;
            padding: 10px 25px 10px 10px;
            border-bottom: 1px dotted @gray;
            font-size: 14px;
            background: @white;
            position: relative;
            cursor: default;

            &.ui-sortable-helper {
                background: darken(@white, 10%);
            }

            &.active {
                background: @blue;
                color: @white;
                border-bottom: none;

                .artist {
                    color: @white;
                }
            }
        }

        .delete {
            position: absolute;
            top: 5px;
            right: 15px;
            font-size: 24px;
            color: darken(@white, 10%);
            cursor: pointer;
            font-weight: bold;

            &:hover {
                color: @red;
            }
        }

        .track {
            font-weight: 500;
            font-size: 16px;
        }

        .artist {
            margin-top: 3px;
            display: block;
            color: lighten(@dark, 25%);
        }
    }
}

/*
* Animations
*/
@-webkit-keyframes anim-dj-active {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .85;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes anim-spinning {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

.spinning {
    -webkit-animation: anim-spinning 2s infinite linear;
}

.spinning.slowly {
    -webkit-animation: anim-spinning 20s infinite linear;
}

@-webkit-keyframes anim-vote-true {
    0% {
        -webkit-transform: rotate(0deg) translate(0px, 0px) scale(1);
    }

    25% {
        -webkit-transform: rotate(7deg) translate(3px, 3px) scale(1.03);
    }

    50% {
        -webkit-transform: rotate(0deg) translate(0px, 0px) scale(1);
    }

    75% {
        -webkit-transform: rotate(-7deg) translate(-3px, 3px) scale(1.03);
    }

    100% {
        -webkit-transform: rotate(0deg) translate(0px, 0px) scale(1);
    }
}
