<div class="screen" ng-show="currentOverlay" ng-click="setOverlay(false)">&nbsp;</div>
<div class="prompt overlay" ng-show="currentOverlay">
    <div class="change-avatar" ng-show="currentOverlay == 'change-avatar'">
        <h1>Change avatar</h1>
        <p>Grooveboat uses <a href="//gravatar.com">Gravatar</a> to provide users with avatars. If you have a Gravatar account, enter your email address here.</p>
        <input type="text" class="full" name="gravatar" placeholder="Gravatar email address" ng-model="tempGravatarEmail" />
        <input type="button" value="save" class="action" ng-click="saveGravatarEmail()" />
    </div>
    <div class="no-tracks" ng-show="currentOverlay == 'no-tracks'">
        <h1>Empty queue</h1>
        <p>Add some tracks to your DJ queue before taking to the stage!</p>
        <input type="button" value="righto" class="action" ng-click="setOverlay(false)" />
    </div>
</div>

<div class="sidebar">
    <div class="tabs">
        <div class="tab" ng-class="{active:currentTab == 'music'}" ng-click="switchTab('music')">music</div>
        <div class="tab" ng-class="{active:currentTab == 'chat','new-messages':newMessages}" ng-click="switchTab('chat')">chat</div>
    </div>

    <div class="sidebar-content">
        <div class="chat panel" ng-show="currentTab == 'chat'">
            <div class="messages" id="messages" auto-scroll="chat_messages">
                <div class="no_messages" ng-hide="chat_messages.length">
                    Say something about stuff
                </div>
                <div class="message" ng-repeat="message in chat_messages">
                    <div class="author">{{message.from.name}}</div>
                    <div class="text" ng-bind-html="message.text | linky"></div>
                </div>
            </div>
            <form ng-submit="newMessage()">
                <input class="new_message" placeholder="send a message" type="text" ng-model="message_text" />
            </form>
        </div>
        <div class="music panel" ng-show="currentTab == 'music'">
            <form class="dropzone track-upload" id="upload-zone" drop-files="files" action="#">
                drop music
            </form>
            <ul class="songs">
                <li ng-repeat="track in tracks">
                    <div class="track">{{track.title}}</div>
                    <div class="artist">{{track.artist}}</div>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="now-playing" ng-show="currentTrack">
    <div class="now-playing-artist">{{currentTrack.artist}}</div>
    <div class="now-playing-track">{{currentTrack.title}}</div>
    <a class="vote good good-{{currentUser.vote == 1}}" href="" ng-click="vote(1)">Good</a><a class="vote bad bad-{{currentUser.vote == -1}}" href="" ng-click="vote(-1)">Bad</a>
</div>

<div class="awaiting-dj" ng-hide="currentTrack">
    awaiting dj
</div>

<div class="stage">
    <div class="become-dj" ng-click="becomeDJ()">{{getJoinText()}}</div>
    <div ng-class="{dj: true, active: dj == activeDJ, local: dj.isLocal}" ng-repeat="dj in djs">
        <img ng-class="{'vote-true': vote == 1}" ng-src="{{dj.iconURL}}" /> {{dj.name}}
    </div>
</div>

<div class="audience">
    <div class="listener local-{{listener.isLocal}}" ng-repeat="listener in users | filter:isAudience">
        <img ng-click="clickUser(listener)" class="vote-{{listener.vote == 1}}" ng-src="{{listener.iconURL}}" />
        <div class="name">{{listener.name}}</div>
    </div>
</div>
