<div class="stage">
    <div class="dj dj-{{dj.active}}" ng-repeat="dj in djs">
        {{dj.name}}
    </div>
    <div class="now-playing-artist">{{current_track.artist}}</div>
    <div class="now-playing-track">{{current_track.title}}</div>
</div>

<div class="chat">
    <div class="messages" id="messages">
        <div class="no_messages" ng-hide="chat_messages.length">
            Say something about stuff
        </div>
        <div class="message" ng-repeat="message in chat_messages">
            <div class="author">{{message.from.nickname}}</div>
            <div class="text">{{message.text}}</div>
        </div>
    </div>
    <form ng-submit="newMessage()">
        <input class="new_message" placeholder="send a message" type="text" ng-model="message_text" />
    </form>
</div>

<div class="audience">
    <div class="listener" ng-repeat="listener in audience">
        {{listener.name}}
    </div>
</div>
