{{#currentOverlay}}
<div class="screen" on-click="setOverlay(false)">&nbsp;</div>

<div class="prompt overlay">
	{{# currentOverlay == 'settings'}}
	<div class="settings">
		<h1>Settings</h1>

		<h2>Nickname</h2>
		<input type="text" class="full" name="gravatar" value="{{tempUsername}}" />

		<h2>Avatar</h2>
		<p>Grooveboat uses <a target="_blank" href="//gravatar.com">Gravatar</a> to provide users with avatars. If you have a Gravatar account, enter your email address here:</p>
		<input type="text" class="full" name="gravatar" placeholder="Gravatar email address" value="{{tempGravatarEmail}}" />

		<h2>Playlist persistence</h2>
		<p>Due to browser restrictions, we aren't able to save your playlists using files stored on your local filesystem.</p> 
		<p>To get around this, we can copy your music files into a special storage system in your browser, however this will require you to have two copies of the file. In return, you'll be able to save your playlists and have them persist between sessions.</p>
		<div class="persist-bar">
			<div class="checkbox {{persistPlaylists ? 'checked' : ''}}" on-click="togglePersistTracks()"></div> 
			Save playlists
		</div>
		<input type="button" value="save it" class="action" on-click="saveSettings()" />
	</div>
	{{/ settings}}

	{{# currentOverlay == 'no-tracks'}}
	<div class="no-tracks">
		<h1>Empty queue</h1>
		<p>Add some tracks to your DJ queue before taking to the stage!</p>
		<input type="button" value="righto" class="action" on-click="setOverlay(false)" />
	</div>
	{{/ no-tracks}}

	{{# currentOverlay == 'disconnected'}}
	<div class="disconnected">
		<h1>Disconnected</h1>
		<img class="spinning" src="/static/img/favicon.png" />
		<p>Looks like we've lost track of the buoy. Attempting to reconnect...</p>
	</div>
	{{/ disconnected}}
</div>
{{/currentOverlay}}
