<div class="private-chat {{collapsed ? 'collapsed' : ''}} {{status}}">
    <div class="handle {{collapsed && newMessages ? 'active' : ''}}">
        <div class="title" on-click="toggleCollapse">
            chat with <em>{{peer.name}}</em>
        </div>
        <div class="right">
            <a href="" on-click="closeChat">×</a>
        </div>
    </div>
    <div class="chat-contents">
        <div class="messages" decorator="autoscroll:messages">
            {{#!messages && status == 'connected'}}
            <div class="no_messages">
                Say something about stuff
            </div>
            {{/messages}}
            {{#messages}}
            <div class="message {{type}}">
                {{#from}}
                <div class="author {{isLocal ? 'local' : ''}}">
                    <img src="{{iconURL}}" />
                    {{name}}
                </div>
                {{/from}}
                <div class="text">{{{messageToHTML(text)}}}</div>
            </div>
            {{/messages}}
        </div>
        <textarea class="new-message" 
            id="newMessage"
            on-focus="newMessageFocus"
            on-blur="newMessageBlur"
            placeholder="{{msgPlaceholder}}"
            value="{{message_text}}"
            required>
        </textarea>
    </div>
</div>
