<div class="sidebar">

    <div class="tabs">
        <div class="tab {{currentTab == 'music' ? 'active' : ''}}" on-click="switchTab:music">music</div>
        <div class="tab {{currentTab == 'chat' ? 'active' : ''}} {{newMessages ? 'new-messages' : ''}}" on-click="switchTab:chat">chat</div>
    </div>

    <div class="sidebar-content">

        {{# currentTab == 'chat'}}
        <div class="chat panel">
            <div class="messages" id="messages" auto-scroll="chat_messages">
                {{^chat_messages}}
                <div class="no_messages">
                    Say something about stuff
                </div>
                {{/chat_messages}}
                {{#chat_messages}}
                <div class="message">
                    {{^isContinuation}}
                    {{#from}}
                    <div class="author {{isLocal ? 'local' : ''}}">
                        <img on-click="clickUser" src="{{iconURL}}" />
                        {{name}}
                    </div>
                    {{/from}}
                    {{/isContinuation}}

                    <div class="text">{{{messageToHTML(text)}}}</div>
                </div>
                {{/chat_messages}}
            </div>
            <textarea class="new-message" 
                on-enter="newMessage"
                placeholder="{{msgPlaceholder}}"
                value="{{message_text}}">
            </textarea>
        </div>
        {{/chat}}

        {{# currentTab == 'music'}}
        <div class="music panel">
            <form class="dropzone track-upload {{currentlyDragging ? 'active' : ''}}" id="upload-zone" action="" drop-files="files" drag-enter="currentlyDragging = true" drag-leave="currentlyDragging = false">
                drop music
            </form>
            
            <div class="sidebar-btn {{me == activeDJ ? 'half : ''}}" on-click="becomeDJ">{{joinText}}</div>
            {{# me == activeDJ}}
            <div class="sidebar-btn half" on-click="skipSong">skip song</div>
            {{/ activeDJ}}

            <div class="songs-container">
                {{# currentTrack && me == activeDJ }}
                <ul class="songs">
                    <li class="active">
                        <div class="track">{{currentTrack.title}}</div>
                        <div class="artist">{{currentTrack.artist}}</div>
                    </li>
                </ul>
                {{/ currentTrack}}

                <ul class="songs">
                {{#tracks}}
                <!--{{^track.id == currentTrack.id}-->
                    <li decorator="sortable">
                        <div class="track">{{title}}</div>
                        <div class="artist">{{artist}}</div>
                        <div class="right">
                            <div on-click="deleteTrack">&times;</div>
                            <div on-click="bumpTrack"><i class="icon-up-arrow"></i></div>
                        </div>
                    </li>
                {{/tracks}}
                </ul>
            </div>
        </div>
        {{/music}}
    </div>
</div>


{{#currentTrack}}
<div class="now-playing">
    <div class="center-piece">
        <a class="vote good good-{{me.vote > 0}}" href="" on-click="vote:1"><i class="icon-thumbs-up"></i></a>
        <span class="now-playing-artist">{{currentTrack.artist}}</span>
        <a class="vote bad bad-{{me.vote < 0}}" href="" on-click="vote:-1"><i class="icon-thumbs-down"></i></a>
    </div>
    <div class="now-playing-track">{{currentTrack.title}}</div>

    <div class="opinion-bar">
        <div class="opinion yes" style="width: {{10 + (votes.yes * 2)}}px">&nbsp;</div><div class="opinion no" style="width: {{10 + (votes.no * 2)}}px">&nbsp;</div>
    </div>
</div>
{{/currentTrack}}

{{^currentTrack}}
<div class="awaiting-dj">
    <div class="title">awaiting dj</div>
    <div class="subtitle">
        {{ noDjMessages[0] }}
    </div>
</div>
{{/currentTrack}}

<div class="stage">
    {{#djs}}
    <div class="dj {{this == activeDJ ? 'active' : ''}} {{isLocal ? 'local' : ''}}">
        <img class="vote-{{vote > 0}}" src="{{iconURL}}" /> {{name}}
    </div>
    {{/djs}}
    {{^currentTrack}}
    <div class="no-djs">
        <img class="spinning slowly" src="/static/img/favicon.png" />
    </div>
    {{/currentTrack}}
</div>

<div class="audience">
    {{#audience}}
    <div class="listener {{isLocal ? 'local' : ''}}">
        <img on-click="clickUser" class="vote-{{vote > 0}}" src="{{iconURL}}" />
        <div class="name">{{name}}</div>
    </div>
    {{/audience}}
</div>
