<div class="sidebar">

    <div class="tabs">
        <div class="tab" ng-class="{active:currentTab == 'music'}" ng-click="switchTab('music')">music</div>
        <div class="tab" ng-class="{active:currentTab == 'chat','new-messages':newMessages}" ng-click="switchTab('chat')">chat</div>
    </div>

    <div class="sidebar-content">

        <div class="chat panel" ng-show="currentTab == 'chat'">
            <div class="messages" id="messages" auto-scroll="chat_messages">
                <div class="no_messages" ng-hide="chat_messages.length">
                    Say something about stuff
                </div>
                <div class="message" ng-repeat="message in chat_messages">
                    <div class="author" ng-class="{local: message.from.isLocal}" ng-hide="message.isContinuation">
                        <img ng-click="clickUser(message.from)" ng-src="{{message.from.iconURL}}" />
                        {{message.from.name}}
                    </div>

                    <div class="text" ng-bind-html="message.text | linky | emoji | mention:currentUser.name"></div>
                </div>
            </div>
            <textarea class="new-message" 
                ng-init="msgPlaceholder = 'send a message'; iMsgPlaceholder = msgPlaceholder;"
                ui:keydown="{13: 'newMessage($event)'}" 
                ui-event="{focus: 'msgPlaceholder = null', blur: 'msgPlaceholder = iMsgPlaceholder'}"
                placeholder="{{msgPlaceholder}}" 
                ng-model="message_text">
                type="text" 
            </textarea>
        </div>

        <div class="music panel" ng-show="currentTab == 'music'">
            <form class="dropzone track-upload" ng-class="{active: currentlyDragging}" id="upload-zone" action="#" drop-files="files" drag-enter="currentlyDragging = true" drag-leave="currentlyDragging = false">
                drop music
            </form>
            
            <div ng-class="{'sidebar-btn': true, half: currentUser == activeDJ}" ng-click="becomeDJ()">{{getJoinText()}}</div><div class="sidebar-btn half" ng-show="currentUser == activeDJ" ng-click="skipSong()">skip song</div>

            <div class="songs-container">
                <ul class="songs" ng-hide="!currentTrack || currentUser != activeDJ">
                    <li class="active">
                        <div class="track">{{currentTrack.title}}</div>
                        <div class="artist">{{currentTrack.artist}}</div>
                    </li>
                </ul>

                <ul class="songs" ui:sortable="sortableOptions" ng:model="tracks">
                    <li ng-repeat="track in tracks" ng-hide="track.id == currentTrack.id">
                        <div class="track">{{track.title}}</div>
                        <div class="artist">{{track.artist}}</div>
                        <div class="right">
                            <div ng-click="deleteTrack(track)">&times;</div>
                            <div ng-click="bumpTrack(track)"><i class="icon-up-arrow"></i></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="now-playing" ng-show="currentTrack">
    <div class="center-piece">
        <a class="vote good good-{{currentUser.vote == 1}}" href="" ng-click="vote(1)"><i class="icon-thumbs-up"></i></a>
        <span class="now-playing-artist">{{currentTrack.artist}}</span>
        <a class="vote bad bad-{{currentUser.vote == -1}}" href="" ng-click="vote(-1)"><i class="icon-thumbs-down"></i></a>
    </div>
    <div class="now-playing-track">{{currentTrack.title}}</div>

    <div class="opinion-bar">
        <div class="opinion yes" style="width: {{10 + (votes.yes * 2)}}px">&nbsp;</div><div class="opinion no" style="width: {{10 + (votes.no * 2)}}px">&nbsp;</div>
    </div>
</div>

<div class="awaiting-dj" ng-hide="currentTrack">
    <div class="title">awaiting dj</div>
    <div class="subtitle">
        {{ noDjMessages[0] }}
    </div>
</div>

<div class="stage">
    <div ng-class="{dj: true, active: dj == activeDJ, local: dj.isLocal}" ng-repeat="dj in djs">
        <img ng-class="{'vote-true': dj.vote == 1}" ng-src="{{dj.iconURL}}" /> {{dj.name}}
    </div>
    <div class="no-djs" ng-hide="currentTrack">
        <img class="spinning slowly" src="/static/img/favicon.png" />
    </div>
</div>

<div class="audience">
    <div class="listener" ng-class="{local: listener.isLocal}" ng-repeat="listener in users | filter:isAudience">
        <img ng-click="clickUser(listener)" class="vote-{{listener.vote == 1}}" ng-src="{{listener.iconURL}}" />
        <div class="name">{{listener.name}}</div>
    </div>
</div>
