<div class="sidebar">

    <div class="tabs">
        <div class="tab {{currentTab == 'music' ? 'active' : ''}}" on-click="switchTab:music">music</div>
        <div class="tab {{currentTab == 'chat' ? 'active' : ''}} {{newMessages ? 'new-messages' : ''}}" on-click="switchTab:chat">chat</div>
    </div>

    <div class="sidebar-content">

        <div class="chat panel {{currentTab == 'chat' ? '' : 'hide'}}">
            <div class="messages" id="messages" decorator="autoscroll:chat_messages">
                {{^chat_messages}}
                <div class="no_messages">
                    Say something about stuff
                </div>
                {{/chat_messages}}
                {{#chat_messages}}
                <div class="message">
                    {{^isContinuation}}
                    {{#from}}
                    <div class="author {{isLocal ? 'local' : ''}}">
                        <img on-click="clickUser" src="{{iconURL}}" />
                        {{name}}
                    </div>
                    {{/from}}
                    {{/isContinuation}}

                    <div class="text">{{{messageToHTML(text)}}}</div>
                </div>
                {{/chat_messages}}
            </div>
            <textarea class="new-message" 
                on-enter="newMessage"
                on-focus="newMessageFocus"
                on-blur="newMessageBlur"
                placeholder="{{msgPlaceholder}}"
                value="{{message_text}}"
                required>
            </textarea>
        </div>

        <div class="music panel {{currentTab == 'music' ? '' : 'hide'}}">
            <form class="dropzone track-upload {{currentlyDragging ? 'active' : ''}}" id="upload-zone" action="" on-dropfiles="queueFiles" on-dragenter="setCurrentlyDragging:yes" on-dragend="setCurrentlyDragging:no">
                drop music
            </form>
            
            <div class="sidebar-btn {{isActiveDJ ? 'half' : ''}}" on-click="becomeDJ">{{joinText}}</div>
            {{#isActiveDJ}}
            <div class="sidebar-btn half" on-click="skipSong">skip song</div>
            {{/isActiveDJ}}

            <div class="songs-container">
                {{# currentTrack && isActiveDJ }}
                <ul class="songs">
                    <li class="active">
                        <div class="track">{{currentTrack.title}}</div>
                        <div class="artist">{{currentTrack.artist}}</div>
                    </li>
                </ul>
                {{/ currentTrack}}

                <ul class="songs" decorator="sortable:'tracks','i'">
                {{#tracks:i}}
                {{# id != currentTrack.id }}
                    <li on-dblclick="editTrack" class="{{editing ? 'disable-sort' : ''}}">
                        <div class="preview {{.previewing ? 'previewing' : ''}}" title="Preview track" on-click="previewTrack"></div>

                        {{^editing}}
                            <div title="Double click to edit" class="track">{{title}}</div>
                            <div title="Double click to edit" class="artist">{{artist}}</div>

                            <div class="right">
                                <div title="Delete track" on-click="deleteTrack">&times;</div>
                                <div title="Move to top" on-click="bumpTrack"><i class="icon-up-arrow"></i></div>
                            </div>
                        {{/editing}}

                        {{#editing}}
                            <input type="text" class="edit-track" placeholder="Track name" value="{{title}}" />
                            <input type="text" class="edit-track" placeholder="Artist name" value="{{artist}}" />

                            <div class="right">
                                <div title="Save track" on-click="saveTrack"><i class="icon-save"></i></div>
                            </div>
                        {{/editing}}

                    </li>
                {{/ currentTrack}}
                {{/tracks}}
                </ul>
            </div>
        </div>
    </div>
</div>


{{#currentTrack}}
<div class="now-playing">
    <div class="center-piece">
        <a class="vote good good-{{me.vote > 0}}" on-click="vote:1"><i class="icon-thumbs-up"></i></a>
        <span class="now-playing-artist">{{currentTrack.artist}}</span>
        <a class="vote bad bad-{{me.vote < 0}}" on-click="vote:-1"><i class="icon-thumbs-down"></i></a>
    </div>
    <div class="now-playing-track">{{currentTrack.title}}</div>

    <div class="opinion-bar">
        <div class="opinion yes" style="width: {{ votes.yes / (votes.yes + votes.no) * 100 }}%">&nbsp;</div>
        <div class="opinion no" style="width: {{ votes.no / (votes.yes + votes.no) * 100 }}%">&nbsp;</div>
    </div>
</div>
{{/currentTrack}}

{{^currentTrack}}
<div class="awaiting-dj">
    <div class="title">awaiting dj</div>
    <div class="subtitle">{{noDjMessage}}</div>
</div>
{{/currentTrack}}

<div class="stage">
    {{#djs}}
    <div class="dj {{this == activeDJ ? 'active' : ''}} {{isLocal ? 'local' : ''}}">
        <img class="vote-{{vote > 0}}" src="{{iconURL}}" /> {{name}}
    </div>
    {{/djs}}
    {{^currentTrack}}
    <div class="no-djs">
        <img class="spinning slowly" src="/static/img/favicon.png" />
    </div>
    {{/currentTrack}}
</div>

<div class="private-chats" id="private_chats">
</div>

<div class="audience">
    {{#audience}}
    <div class="listener {{isLocal ? 'local' : ''}}">
        <img on-click="clickUser" class="vote-{{vote > 0}}" src="{{iconURL}}" />
        <div class="name">{{name}}</div>
    </div>
    {{/audience}}
</div>
